body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

img {
    height: 200px;
    float: left;
}

#search {
  background-color: white;
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: auto;
  height: auto;
  padding: 10px;
}
#search input {
  width: 200px;
}
#results {
  font-style: sans-serif;
  color: black;
  font-size: 75%;
}